@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

select {
    padding: 0.25rem;
    border-radius: 0.5rem;
    border: 1px solid cyan;
}

.select-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.select-container label {
    margin-right: 0.75rem;
}

@media (min-width: 768px) {
    .select-container {
        font-size: 1rem;
    }
}