@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

select, input {
    padding: 0.3rem 0.6rem;
    width: 250px;
    border-radius: 0.5rem;
    border: 1px solid cyan;
    background-color: #222429 !important;
    color: #fff;
    font-weight: bold;
}

/* Styling for the arrow on the selection element */
select {
    -webkit-appearance: none;
    /* Safari and Chrome */
    -moz-appearance: none;
    /* Firefox */
    appearance: none;
    padding-right: 30px !important;
    /* Add some padding to make space for a custom arrow icon */
    background: url('arrowdown.png') no-repeat right center;
    /* Replace 'custom-arrow.png' with your custom arrow icon */
}


.select-container, .input-container {
    display: flex;
    align-items: center;
    font-size: 1rem;
    justify-content: center;
}




